<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <title>Admin</title>
</head>
<body>
    <div class="admin_menu_block">
        <div class="admin_menu">
            <div class="admin_logo"><img class="admin_img" src="./img/logoPayDay.png" alt="logo"></div>
            <button class="admin_main">Главная</button>
            <button class="admin_banks">Банки</button>
            <button class="admin_university">Институты</button>
            <button class="admin_exit">Выход</button>
        </div>
    </div>
    <senction class="banks">
        <div class="flex_column">
            <div class="page">Главная/Институты</div>
            <form id="navigation_row_block" class="navigation_input_block">
                <input type="hidden" name="universityId" value="6"> 
                <input type="text" name="searchString" class="navigation_input" placeholder="Введите название Вуза">
                <input type="image" src="/img/Vector.svg" alt="search" class="navigation_search">
            </form>
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
        
        <div class="row flex_row">
            <div class="banks_card_block col-4">
                <div class="banks_card">
                        <div class="banks_title">ЮФУ</div>
                        <div><img src="./img/logoPayDay.png" alt="university" class="banks_img"></div>
                </div>
                <div class="banks_description"><span>Лучший Вуз в мире (наверное)</span>Поступайте к нам и получайте востребованное образование</div>
            </div>
            <div class="banks_card_block col-4">
                <div class="banks_card">
                        <div class="banks_title">ЮФУ</div>
                        <div><img src="./img/logoPayDay.png" alt="university" class="banks_img"></div>
                </div>
                <div class="banks_description"><span>Лучший Вуз в мире (наверное)</span>Поступайте к нам и получайте востребованное образование</div>
            </div>
            <div class="banks_card_block col-4">
                <div class="banks_card">
                        <div class="banks_title">ЮФУ</div>
                        <div><img src="./img/logoPayDay.png" alt="university" class="banks_img"></div>
                </div>
                <div class="banks_description"><span>Лучший Вуз в мире (наверное)</span>Поступайте к нам и получайте востребованное образование</div>
            </div>
            <div class="banks_card_block col-4">
                <div class="banks_card">
                        <div class="banks_title">ЮФУ</div>
                        <div><img src="./img/logoPayDay.png" alt="university" class="banks_img"></div>
                </div>
                <div class="banks_description"><span>Лучший Вуз в мире (наверное)</span>Поступайте к нам и получайте востребованное образование</div>
            </div>
            <div class="banks_card_block col-4">
                <div class="banks_card">
                        <div class="banks_title">ЮФУ</div>
                        <div><img src="./img/logoPayDay.png" alt="university" class="banks_img"></div>
                </div>
                <div class="banks_description"><span>Лучший Вуз в мире (наверное)</span>Поступайте к нам и получайте востребованное образование</div>
            </div>
            <div class="banks_card_block col-4">
                <div class="banks_card">
                        <div class="banks_title">ЮФУ</div>
                        <div><img src="./img/logoPayDay.png" alt="university" class="banks_img"></div>
                </div>
                <div class="banks_description"><span>Лучший Вуз в мире (наверное)</span>Поступайте к нам и получайте востребованное образование</div>
            </div>
            <div class="banks_card_block col-4">
                <div class="banks_card">
                        <div class="banks_title">ЮФУ</div>
                        <div><img src="./img/logoPayDay.png" alt="university" class="banks_img"></div>
                </div>
                <div class="banks_description"><span>Лучший Вуз в мире (наверное)</span>Поступайте к нам и получайте востребованное образование</div>
            </div>
            <div class="banks_card_block col-4">
                <div class="banks_card">
                        <div class="banks_title">ЮФУ</div>
                        <div><img src="./img/logoPayDay.png" alt="university" class="banks_img"></div>
                </div>
                <div class="banks_description"><span>Лучший Вуз в мире (наверное)</span>Поступайте к нам и получайте востребованное образование</div>
            </div>

        </div>
    </senction>
    
</body>
</html>